.help{
    background-color: #F4F6F8;
    padding: 30px;
}
.help_title{
display: flex;
flex-direction: column;
gap: 30px;
align-items: center;
margin-bottom: 30px;
margin-top: 30px;
padding: 20px;
}
.help_title h2{
font-size: 44px;
font-weight: 800;
line-height: 54px;
text-align: center;
color: $zero;
}
.help_title h3{
font-size: 24px;
font-weight: 400;
line-height: 32px;
text-align: center;
color: $zero;
}

.help_button{
    width: 235px;
height: 56px;
border-radius: 8px;
background-color: $ffive;
font-size: 20px;
font-weight: 600;
line-height: 28px;
text-align: center;
color: $f;
border: none;
transition: 0.3s linear;
}

.help_button:hover{
background-color: $f;
color: $ffive;
border: 2px solid $ffive;
}

.help_card{
    width: 411px;
height: 264px;
border-radius: 20px;
background-color: $f;
padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    transition: 0.2s linear;
}

.help_card:hover{
background-color: #F4F6F8;
}

.help_card h3{
font-size: 36px;
font-weight: 700;
line-height: 44px;
text-align: left;
color: $zero;
}

.help_card p{
font-size: 16px;
font-weight: 400;
line-height: 28px;
text-align: left;
color: $zero;
}


.help_img{
    text-align: center;
}

.help_cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

@media(max-width:600px){
    .help_card p{
        display: none;
    }
}

@media(max-width:400px){
    .help_title h2{
font-size: 40px;
font-weight: 700;
line-height: 50px;
text-align: center;
color: $zero;
}

.help_card{
    width: 411px;
height: 264px;
border-radius: 20px;
background-color: $f;
padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    transition: 0.2s linear;
}
}