.our{
    margin-top: 50px;
    margin-bottom: 50px;
    background-image: url(../../svg/our_img.svg);
    width: 100%;
height: 100%;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
padding: 50px;
}
.our_title{
    margin-top: 30px;
    margin-bottom: 30px;
}

.our_title h2{
font-size: 44px;
font-weight: 800;
line-height: 54px;
text-align: center;
color: $zero;
}

.our_card h3{
font-size: 24px;
font-weight: 500;
line-height: 36px;
text-align: left;
color: $zero;
width:100%;
}

.our_card{
    display: flex;
    align-items: center;
    gap: 26px;
    box-shadow: 0px 2px 16px 0px #00000014;
    width: 411px;
height: 160px;
padding: 44px 40px;
border-radius: 20px;
}

.our_cards{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 24px;

}

.bottom_of_our_cards{
display: flex;
align-items: center;
justify-content: space-between;
margin-top: 30px;
}
.bottom_of_our_cards h3{
font-size: 24px;
font-weight: 400;
line-height: 32px;
color: $zero;
width: 80%;
}
.bottom_of_our_cards p{
font-size: 20px;
font-weight: 500;
line-height: 24px;
color: $ffive;
}

@media(max-width:1400px){
    .our_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
}

@media(max-width:800px){
    .bottom_of_our_cards{
        display: none;
    }
}

@media(max-width:500px){
.our_card img{
display: none;
}

.our_card{
    display: flex;
    align-items: center;
    gap: 26px;
    box-shadow: 0px 2px 16px 0px #00000014;
    width: 100%;
height: 100%;
padding: 14px 10px;
border-radius: 20px;
}

}

// ***************************

.usa{
    margin-top: 100px;
}

.usa_title{
    margin-top: 50px;
    margin-bottom: 50px;

}

.usa_title h2{
font-size: 44px;
font-weight: 700;
line-height: 54px;
text-align: center;
color: $zero;
}

.usa_card h3,
.usa_card2 h3{
font-size: 32px;
font-weight: 700;
line-height: 44px;
color: $zero;
}

.usa_card p,
.usa_card2 p{
font-size: 20px;
font-weight: 400;
line-height: 32px;
color: $zero;
}

.usa_card{
    box-shadow: 0px 2px 16px 0px #00000014;
    background-color: #fff;
    max-width: 737px;
    height: 272px;
    padding: 20px 24px;
    // gap: 20px;
    border-radius: 20px;
    transition: 0.3s linear;

}

.usa_card:hover{
    box-shadow: 0px 2px 16px 0px #00000014;
    background-color: transparent;
    border-radius: 20px;

}

.usa_card2{
    box-shadow: 0px 2px 16px 0px #00000014;
    width: 519px;
    height: 272px;
    padding: 20px 24px;
    border-radius: 20px;
    background-color: #fff;
    transition: 0.3s linear;
    }

.usa_card2:hover{
    box-shadow: 0px 2px 16px 0px #00000014;
    border-radius: 20px;
    background-color: transparent;
    }

.usa_cards{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

@media(max-width:600px){
    .usa_title h2{
font-size: 34px;
font-weight: 700;
line-height: 54px;
text-align: center;
color: $zero;
}
.our{
    margin-top: 50px;
    margin-bottom: 50px;
    background-image: url(../../svg/our_img.svg);
    width: 100%;
height: 100%;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
padding: 10px;
}

.usa_card2{
    box-shadow: 0px 2px 16px 0px #00000014;
    width: 100%;
    height: 100%;
    padding: 20px 24px;
    border-radius: 20px;
    background-color: #fff;
    transition: 0.3s linear;
    }
    
.usa_card{
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 20px 24px;
    // gap: 20px;
    border-radius: 20px;
    transition: 0.3s linear;

}
}

@media(max-width:430px){
    .usa_card h3,
.usa_card2 h3{
font-size: 22px;
font-weight: 600;
line-height: 34px;
color: $zero;
}
}

@media(max-width:380px){
        .usa_title h2{
font-size: 30px;
font-weight: 700;
line-height: 54px;
text-align: center;
color: $zero;
}



}


@media(max-width:500px){
 .our{
    display: none;
 }   
}