
   .swiper-wrapper{
    margin-top: 100px;
    margin-bottom: 100px;
   }
   html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .swiper {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 400px;
      height: 600px;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
    }


    // ****************************

    .price_title{
        display: flex;
        flex-direction: column;
        gap: 10px;
        // justify-content: center;
        align-items: center;
        // text-align: center;
    }
    .price_title h2{
font-size: 44px;
font-weight: 800;
line-height: 54px;
text-align: center;
color: $zero;
    }
    .price_title p{
font-size: 24px;
font-weight: 400;
line-height: 32px;
text-align: center;
color: $zero;
width: 50%;
    }


    @media(max-width:400px){
            .price_title h2{
font-size: 34px;
font-weight: 800;
line-height: 54px;
text-align: center;
color: $zero;
    }
    }


    
@media(max-width:500px){
 .price{
    display: none;
 }   
}